# Copie ce fichier en .env.local et remplis les valeurs
# (Supabase Dashboard -> Project Settings -> API)

NEXT_PUBLIC_SUPABASE_URL=https://gzgosruxvnoumopcyhmc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd6Z29zcnV4dm5vdW1vcGN5aG1jIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxMTYwNzMsImV4cCI6MjEwNDY5MjA3M30.WRcI631Eg7Q5FHYxkpfRmApxF0x4qYIMFet0bqF4JtM

